<!--
 
    Este codigo de html5 hace uso de los medios para templates de la libreria framework de desarrollo web Django, libreria de uso gratiuto,
    haciendo uso del metodo extends para sobrecargar la plantilla principal y agregando un codigo html en el cuerpo de la pagina. Este codigo
    funciona para comprobar a traves de una API si una licencia de conducir es valida en el sistema colombiano.

-->

{% extends 'layouts/layout.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Verificación de Licencia de Conducir</h1>
    <form action="{% url 'verificar_licencia' %}" method="post">
        {% csrf_token %}
        <div class="card" style="max-width: 30rem; margin: 0 auto; margin-top:140px;">
            <div class="card-body">
                <h5 class="card-title">Verificar Licencia de Conducir</h5>
                <div class="mb-3">
                    <label for="{{ form.license_number.id_for_label }}" class="form-label">Número de Licencia:</label>
                    {{ form.license_number }}
                </div>
                <button class="btn btn-primary w-100 rounded-pill" type="submit" style="margin-top: 20px;">Verificar</button>
            </div>
        </div>
    </form>
    {% if result %}
        <div class="alert alert-{{ alert_type }} mt-3" role="alert">
            {{ result }}
        </div>
    {% endif %}
</div>
{% endblock %}
