{% extends 'layouts/layout.html' %}

{% block content %}
    <h2>Resultados de la búsqueda</h2>

    <form method="get" action="{% url 'busqueda' %}">
        <!-- Formulario para la búsqueda -->
        <label for="username">Username:</label>
        <input type="text" name="username" value="{{ request.GET.username }}" placeholder="Ingrese el username">

        <label for="rol">Tipo de usuario:</label>
        <select name="rol">
            <option value="" selected>Seleccione...</option>
            <option value="pasajero">Pasajero</option>
            <option value="conductor">Conductor</option>
        </select>

        <button type="submit">Buscar</button>
    </form>

    {% if users %}
        <!-- Mostrar los resultados de la búsqueda -->
        <ul>
            {% for user in users %}
                <li>{{ user.username }} - {{ user.rol }} 
                    <a href="{% url 'profile' username=user.username %}">Ver perfil</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}
{% endblock %}
