<!--
 
  Este codigo de html5 hace uso de los medios para templates de la libreria framework de desarrollo web Django, libreria de uso gratiuto,
  haciendo uso del metodo extends para sobrecargar la plantilla principal y agregando un codigo html en el cuerpo de la pagina. Este codigo
  funciona para listar los viajes activos, es decir viajes con capacidad de recibir mas pasajeros y que aun no inician su viaje.

-->

{% extends 'layouts/layout.html' %}

{% block content %}
<div class="container">
    <h3>Lista de Viajes Disponibles</h3>

    <div class="row">
        {% for viaje in viajes %}
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Conductor: {{ viaje.conductor }}</h5>
                    <p class="card-text">Destino: {{ viaje.destino }}</p>
                    <p class="card-text">Hora de Salida: {{ viaje.hora_salida }}</p>
                    <a href="" class="btn btn-primary">Aplicar al Viaje</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
