{% extends 'layouts/layout.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6" style="margin-top: 40px;">
        <div class="card mt-5">
          <div class="card-header">Iniciar Sesión</div>
          <div class="card-body">
            {% if form.errors %}
            <div id="login-error-message" class="alert alert-danger">Su nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</div>
            {% endif %}
            {% for message in messages %}
              <div class="alert alert-success">
                {{ message }}
              </div>
            {% endfor %}
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
              </div>
              <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
              </div>
              <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    // Ocultar el mensaje de error después de 5 segundos (5000 milisegundos)
    setTimeout(function() {
      var errorMessage = document.getElementById('login-error-message');
      if (errorMessage) {
        errorMessage.style.display = 'none';
      }
    }, 5000); // 5000 ms = 5 segundos
  </script>
{% endblock %}