<!--
 
  Este codigo de html5 hace uso de los medios para templates de la libreria framework de desarrollo web Django, libreria de uso gratiuto,
  haciendo uso del metodo extends para sobrecargar la plantilla principal y agregando un codigo html en el cuerpo de la pagina. Este codigo
  funciona para listar las condiciones cque se aceptan cuando se aceptan los terminos y condiciones, esto es por fines legales.

-->


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidad de Conductor Amigo</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
        }

        h1 {
            text-align: center;
        }

        h2 {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 15px;
        }

        ol {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Política de Privacidad de Conductor Amigo</h1>

    <p><strong>Fecha de Vigencia:</strong> 2023</p>

    <h2>1. Información Recopilada:</h2>
    <p>Recopilamos la siguiente información personal de nuestros usuarios: nombres, direcciones de correo electrónico, Carnet universitario, Licencia de conductor, etc.</p>

    <h2>2. Propósito de la Recopilación:</h2>
    <p>Utilizamos la información recopilada para garantizar la seguridad de los usuarios asegurando que los usuarios y/o conductores sean exclusivamente personas pertenecientes a la comunidad universitaria y sean identificables.</p>

    <h2>3. Base Legal:</h2>
    <p>Procesamos la información en base a Ley 1581 de 2012.</p>

    <h2>4. Derechos del Usuario:</h2>
    <p>Los usuarios tienen derecho a acceder, corregir, eliminar o transferir sus datos personales. Pueden retirar su consentimiento en cualquier momento.</p>

    <h2>5. Consentimiento:</h2>
    <p>Al utilizar nuestro servicio, los usuarios aceptan nuestras políticas de privacidad.</p>

    <h2>6. Actualización y Notificación:</h2>
    <p>Notificaremos a los usuarios sobre cambios en nuestras políticas a través de notificaciones por medio del correo institucional proporcionado.</p>

    <h2>7. Procedimientos de Quejas:</h2>
    <p>Los usuarios pueden presentar quejas o inquietudes a través de los siguientes correos electrónicos: <a href="mailto:cecheverric@unal.edu.co">cecheverric@unal.edu.co</a>, <a href="mailto:mperezgu@unal.edu.co">mperezgu@unal.edu.co</a>, <a href="mailto:jmartinezgr@gmail.com">jmartinezgr@gmail.com</a>.</p>

    <h2>8. Revisión Periódica:</h2>
    <p>Revisaremos y actualizaremos esta política según sea necesario.</p>

    <p>Gracias por confiar en Conductor Amigo.</p>
</body>
</html>
