{% extends 'layouts/layout.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Usuarios con rutas similares</h1>
    <div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
        <form method="post">
            {% csrf_token %}
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Busca usuarios con rutas similares</h5>
                    <div class="mb-3">
                        <label for="{{ form.username.id_for_label }}" class="form-label">Nombre de Usuario:</label>
                        {{ form.username }}
                      </div>
                    <div class="mb-3">
                        <label for="{{ form.starting_place_type.id_for_label }}" class="form-label">Lugar de partida:</label>
                        {{ form.starting_place_type }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Lugar de destino:</label>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="{{ form.Latitud.id_for_label }}" class="form-label">Latitud:</label>
                                {{ form.latitud }}
                            </div>
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="{{ form.Longitud.id_for_label }}" class="form-label">Longitud:</label>
                                {{ form.longitud }}
                            </div>
                        </div>    
                    </div>
                    <button class="btn btn-primary w-100 rounded-pill" type="submit" style="margin-top:20px;">Buscar Viaje</button>
                    <div id="loading-message" style="display: none; margin-top: 10px; text-align: center;">
                        Esto puede tardar unos minutos
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% if data_ret %}
    <p class="mt-3">La distancia más corta encontrada fue: {{ data_ret.distancia }}</p>
    {% else %}
    <p class="mt-3">Error de búsqueda. Complete el formulario </p>
    {% endif %}
 
</div>

<script>
    document.getElementById('search-form').addEventListener('submit', function() {
        document.getElementById('search-button').style.display = 'none';
        document.getElementById('loading-message').style.display = 'block';
    });
</script>

{% endblock %}