{% extends "mainapp/base.html" %}

{% block content %}
<div class="container">
    <h3>Lista de Viajes Disponibles</h3>

    <div class="row">
        {% for viaje in viajes %}
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Conductor: {{ viaje.conductor }}</h5>
                    <p class="card-text">Destino: {{ viaje.destino }}</p>
                    <p class="card-text">Hora de Salida: {{ viaje.hora_salida }}</p>
                    <a href="" class="btn btn-primary">Aplicar al Viaje</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
