{% extends "mainapp/base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Conductor</title>
</head>
<body>
    <h1>Formulario de Conductor</h1>
    <form>
        <label for="nombre">Nombre de conductor:</label>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <label for="licencia">Número de licencia:</label>
        <input type="text" id="licencia" name="licencia" required><br><br>

        <input type="submit" value="Verificar Licencia">
    </form>
</body>
</html>
{% endblock %}