{% extends "mainapp/base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <!-- Tarjeta Vertical del Usuario -->
        <div class="col-md-4">
            {% if viaje %}
            <div class="card mb-4 h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ viaje.nombre_usuario }}</h5>
                    <p class="card-text">Documento: {{ viaje.documento_usuario }}</p>
                </div>
            </div>
            {% else %}
            <!-- Puedes mostrar un mensaje o contenido adicional si no hay datos del usuario -->
            {% endif %}
        </div>

        <!-- Información del Viaje (Tarjeta Central) -->
        <div class="col-md-4">
            {% if viaje %}
            <div class="card mb-4 h-100 overflow-auto">
                <div class="card-body">
                    <h5 class="card-title">Detalles del Viaje</h5>
                    <p class="card-text">Lugar de Destino: {{ viaje.lugar_destino }}</p>
                    <p class="card-text">Distancia: {{ viaje.distancia }}</p>
                    <p class="card-text">Precio: {{ viaje.precio }}</p>
                    <p class="card-text">Hora de inicio: {{ viaje.tiempo_inicial }}</p>
                    <!-- Agrega más detalles aquí si es necesario -->
                </div>
            </div>
            {% else %}
            <!-- Mensaje cuando no hay viajes activos -->
            <div class="text-center">
                <p class="display-4">No hay viajes activos</p>
            </div>
            {% endif %}
        </div>

        <!-- Tarjeta Vertical del Conductor -->
        <div class="col-md-4">
            {% if viaje %}
            <div class="card mb-4 h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ viaje.nombre_conductor }}</h5>
                    <p class="card-text">Documento: {{ viaje.documento_conductor }}</p>
                </div>
            </div>
            {% else %}
            <!-- Puedes mostrar un mensaje o contenido adicional si no hay datos del conductor -->
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
