{% extends 'layouts/layout.html' %}

{% block navbar %}
{% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href={% url "home" %}> Inicio </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href={% url "nosotros" %}> Nosotros </a>
    </li>   
    <li class="nav-item">
        <a class="nav-link" href=''> Viajes Disponibles </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href=''> Viaje Activo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href=''> Busqueda</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href=''> Verificar licencia</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href=''> Cerrar Sesion </a>
    </li>
{% else %}
    <li class="nav-item">
        <a class="nav-link" href={% url "home" %}> Inicio </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href={% url "nosotros" %}> Nosotros </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href=''> Ingresar </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href=''> Registrarse </a>
    </li>
{% endif %}
{% endblock %}

{% block content %}
<h3 class="display-5">Eventos en la Red de Metro</h3>
<div class="row">
    {% for evento in eventos %}
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ evento.titulo }}</h5>
                <p class="card-text" style="height: 3.5em; overflow: hidden; text-overflow: ellipsis;">
                    {{ evento.descripcion }}
                </p>
                <p class="card-text">Fecha: {{ evento.fecha }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
