{% extends 'layouts/layout.html' %}

{% block content %}
<h3 class="display-5">Eventos en la Red de Metro</h3>
<div class="row">
    {% for evento in eventos %}
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ evento.titulo }}</h5>
                <p class="card-text" style="height: 3.5em; overflow: hidden; text-overflow: ellipsis;">
                    {{ evento.descripcion }}
                </p>
                <p class="card-text">Fecha: {{ evento.fecha }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
