{% extends 'layouts/layout.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card" style="margin-top: 30px;">
          <div class="card-header text-center">Registro</div>
          <div class="card-body">
            {% for message in messages %}
            <div class="alert alert-danger" id='Errocito'>
              {{ message }}
            </div>
          {% endfor %}
            <form method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                  </div>
                  <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                  </div>
                  <div class="form-group">
                    {{ form.nombres.label_tag }}
                    {{ form.nombres }}
                  </div>
                  <div class="form-group">
                    {{ form.apellidos.label_tag }}
                    {{ form.apellidos }}
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    {{ form.nacimiento.label_tag }}
                    {{ form.nacimiento }}
                  </div>
                  <div class="form-group">
                    {{ form.direccion.label_tag }}
                    {{ form.direccion }}
                  </div>
                  <div class="form-group">
                    {{ form.rol.label_tag }}
                    {{ form.rol }}
                  </div>
                  <div class="form-group">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                  </div>
                  <div class="form-group">
                    {{ form.privacidad.label_tag }}
                    {{ form.privacidad }}
                    <p class="mt-1">
                      <small>
                        Al hacer clic en "Registrarse", aceptas nuestras
                        <a href="{% url 'privacidad' %}">políticas de privacidad</a>.
                      </small>
                    </p>
                  </div>
                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary rounded-pill" style="width: 100%;margin-top:18px;">Registrarse</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    // Elimina el mensaje de error después de 20 segundos
    setTimeout(function() {
      var errorMessage = document.getElementById("Errocito");
      if (errorMessage) {
        errorMessage.style.display = "none";
      }
    }, 4000); // 20 segundos en milisegundos
  </script>
  
{% endblock %}
