{% extends 'layouts/layout.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-center">Crear Nuevo Viaje</h2>
    <div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
        <div class="card" style="width: 60rem;">
            <div class="card-body">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <div class="alert alert-success" role="alert" id="Errorcito">
                                {{ message }}
                            </div>
                        {% elif message.tags == 'error' %}
                            <div class="alert alert-danger" role="alert" id="Errorcito">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h5 class="card-title text-center">Información del Viaje</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="{{ form.inicio.id_for_label }}" class="form-label">Lugar de Partida:</label>
                                {{ form.inicio }}
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.destino.id_for_label }}" class="form-label">Destino:</label>
                                {{ form.destino }}
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.fecha_inicio.id_for_label }}" class="form-label">Fecha de Inicio:</label>
                                {{ form.fecha_inicio }}
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.observaciones.id_for_label }}" class="form-label">Observaciones Adicionales:</label>
                                {{ form.observaciones }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="{{ form.puestos_maximos.id_for_label }}" class="form-label">Puestos Máximos:</label>
                                {{ form.puestos_maximos }}
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.discapacidades_aceptadas.id_for_label }}" class="form-label">Discapacidades Aceptadas:</label>
                                {{ form.discapacidades_aceptadas }}
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.tipo_vehiculo.id_for_label }}" class="form-label">Tipo de Vehículo:</label>
                                {{ form.tipo_vehiculo }}
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.placa_vehiculo.id_for_label }}" class="form-label">Placa del Vehículo:</label>
                                {{ form.placa_vehiculo }}
                            </div>
                            <button class="btn btn-primary w-100 rounded-pill" type="submit" style="margin-top:20px;">Crear Viaje</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(function () {
        var errorMessage = document.getElementById("Errorcito");
        if (errorMessage) {
            errorMessage.style.display = "none";
        }
    }, 4000);
</script>

{% endblock %}
