<!--
 
    Este codigo de html5 hace uso de los medios para templates de la libreria framework de desarrollo web Django, libreria de uso gratiuto,
    haciendo uso del metodo extends para sobrecargar la plantilla principal y agregando un codigo html en el cuerpo de la pagina. Este codigo
    funciona para comprobar a listar los elementos de un viaje creado y desarrollado a traves de la App Condcutor Amigo. El resumen del viaje
    le permite al conductor y los usuarios la informacion de hora de partida, estado del viaje y nombre de los participante.

-->

{% extends 'layouts/layout.html' %}

{% block content %}
<h1 class="mb-4" style="margin-left: 430px;">Viaje Activo</h1>
<div class="container" style="margin-top: 100px;">
    <div class="row justify-content-center align-items-stretch" style="height: 300px;">
        <!-- Tarjeta Vertical del Usuario -->
        <div class="col-md-4">
            {% if viaje %}
            <div class="card mb-4 h-100">
                <div class="card-body">
                    <h5 class="card-title">Conductor</h5>
                    <h5 class="card-title">{{ viaje.nombre_usuario }}</h5>
                    <p class="card-text">Documento: {{ viaje.documento_usuario }}</p>
                </div>
            </div>
            {% else %}
            <!-- Puedes mostrar un mensaje o contenido adicional si no hay datos del usuario -->
            {% endif %}
        </div>

        <!-- Información del Viaje (Tarjeta Central) -->
        <div class="col-md-4">
            {% if viaje %}
            <div class="card mb-4 h-100">
                <div class="card-body">
                    <h5 class="card-title">Detalles del Viaje</h5>
                    <p class="card-text">Lugar de Destino: {{ viaje.lugar_destino }}</p>
                    <p class="card-text">Distancia: {{ viaje.distancia }}</p>
                    <p class="card-text">Precio: {{ viaje.precio }}</p>
                    <p class="card-text">Hora de inicio: {{ viaje.tiempo_inicial }}</p>
                    <!-- Agrega más detalles aquí si es necesario -->
                </div>
            </div>
            {% else %}
            <!-- Mensaje cuando no hay viajes activos -->
            <div class="text-center">
                <p class="display-4">No hay viajes activos</p>
            </div>
            {% endif %}
        </div>

        <!-- Tarjeta Vertical del Conductor -->
        <div class="col-md-4">
            {% if viaje %}
            <div class="card mb-4 h-100">
                <div class="card-body">
                    <h5 class="card-title">Usuario</h5>
                    <h5 class="card-title">{{ viaje.nombre_conductor }}</h5>
                    <p class="card-text">Documento: {{ viaje.documento_conductor }}</p>
                </div>
            </div>
            {% else %}
            <!-- Puedes mostrar un mensaje o contenido adicional si no hay datos del conductor -->
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}